logs/
npm-debug.log
yarn-error.log
node_modules/
*-lock.json
*-lock.yaml
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/

.tem/
config/config.local.ts
config/config.prod.ts

.htaccess
app.js
app/**/*.js
config/*.js
